* {
	box-sizing: border-box;
	overflow: auto;
}

body {
	margin: 0;
}

header {

}

footer {

}

section {
	padding: 10px;
}

.quoteContainer {
	margin:10px 0;
	padding: 10px;
	border: 1px black solid;
	border-radius: 15px;
}